.accordion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: $transition-all;

            &:hover {
                span {
                    color: $clr-primary
                }
            }

            span {
                font-size: 24px;
            }
        }
    }
}