.nav {
    li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $clr-dark;
        transition: $transition-all;

        * {
            color: $clr-dark;
        }

        &:hover {
            * {
                color: $clr-primary;
            }
        }
    }
}

.nav-horizontal {
    display: flex;
    gap: 1.5rem;
    font-weight: 500;
}

.nav-vertical {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h3 {
        text-transform: uppercase;
    }

    ul {
        
        h4 {
            margin-bottom: 1rem;
        }

        li {
            margin-bottom: 0.5rem;
        }
    }
}