.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transition: $transition-all;


    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    span {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $clr-primary;
        transition: $transition-all;

        border-radius: 999px;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            border-radius: 999px;
            transition: $transition-all;
        }
    }

    input:checked+span:before {
        transform: translateX(26px);
        transition: $transition-all;
    }

}