.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background-color: $clr-light;
    z-index: 999;

    h1 {
        color: $clr-primary;
    }
}