.centered-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container {
    padding: 0 10rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;
}

.space-content {
    gap: 6rem;
}



@media not all and (min-width: 1024px) {
    .container {
        padding: 2rem;
    }
}